.footer-col:last-child {
  width: auto;        /* override 50% */
  margin-left: auto;  /* push to right edge */
  text-align: right;
}


/* Blog Style (what does this even mean?)
.footer-col-wrapper {
  display: block;
}

.footer-col {
  width: 100%;
  text-align: center;
}
*/
