@import "minima";

.footer-col:last-child {
  width: auto;
  margin-left: auto;
  text-align: right;
}

/* Blog Style (what does this even mean?)
.footer-col-wrapper {
  display: block;
}

.footer-col {
  width: 100%;
  text-align: center;
}
*/
