body {
  background: red !important;
}

.footer-col-wrapper {
  align-items: flex-start;
  gap: 2rem;
}

/*
.footer-col:last-child {
  text-align: right;
}
*/

.footer-col:last-child {
  flex: 0 0 auto;
  margin-left: auto;
  text-align: right;
}

.footer-col {
  font-size: 0.9rem;
}

